.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #0E0000;
  background-color: #F4F4F4;
  background-clip: padding-box;
  border: 2px solid #3083de;
  appearance: none;
  // transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-radius: 10px;
  &:hover {
    border: 2px solid #1fbd3a;
  }
}
